<ul class="show-list">
{% assign sorted_members = site.members | sort: "order" %}
  {% for member in sorted_members %}
    <li class="show-card">
    {% if member.featureimg %}
        <img src="{{ member.featureimg | relative_url }}" alt=" {{ member.title }}" >
    {% endif %}
        <h2>{{ member.title }} | {{ member.position }}<br></h2>
        <p>{{ member.fact }}</p>
    </li>
  {% endfor %}
</ul>
