---
layout: homepage
description: 
---

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
            @media screen and (max-width: 768px) {
                .call-out_img {
                    background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image }}');
                }
            }
            @media screen and (max-width: 576px) {
                .call-out_img {
                    background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
                }
            }
        {% endif %}
    </style>
    
    <div id="main" class="call-out call-out_img">
        <h1>{{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>" }}</h1>
    </div>
    <div class="posts">
        <div class="post-teaser">
            <div class="button-container">
                <a href="shows" class="button-inverse">Tickets</a>
            </div>
        </div>
    </div>
    
    <div class="posts" id="news">
        <div class="post-teaser">
                <header>
                <h2>Charleston's Unofficial Taylor Swift Tribute Band</h2>
                </header>
            <div class="excerpt">
                <p>Let us host the event of your wildest dreams!
                We play all of your Taylor Swift favorites of any era.<br><br>
                Our performances can cater to all ages and types of audiences, not just those feelin' 22. Book us for your wedding, brewery, birthday party, or other event.<br><br>
                Ready to make your event enchanted with the music of Taylor Swift? Contact us and we'll be ready to show up at your party!</p>
            </div>
            <div class="button-container">
                <a href="mailto:wildestdreamstribute@gmail.com" class="button-inverse">Book Us</a>
            </div>
        </div>  
    </div>

    <div class="banner">
        <h3>Contact us</h3>
        <p>We would love to play your venue, event, or party!</p>
        <p>Email us at <a href="mailto:wildestdreamstribute@gmail.com">wildestdreamstribute@gmail.com</a> for more information.
</p>

    </div>

    {% comment %}
        {% capture _blog %}{% include blog/blog.liquid %}{% endcapture %} 
        {{ _blog | split: " " | join: " " }} 
    {% endcomment %}
</div>
